@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@250&family=Rambla&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  color: #283655 !important;
  background-color: #f7faff !important;
  font-family: 'Rambla', sans-serif;
}
h2, h3 {
  font-family: 'Audiowide', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px #283655;
}
li {
  list-style-type: none;
}
/*--------------------HEADER------------------------*/
#navbar {
  background-color: #fafafa;
  top: 0;
  opacity: 0.9;
  height: 52px;
  width: 100%;
  transition: top 0.9s;
}
.navbar-nav {
  width: 80% !important;
  margin: 0 auto;
  justify-content: space-between;
}
header {
  text-align: center;
  height: 110vh;
  background: url(media/header.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
}
.header-content{
  padding-top: 4.5rem;
}
.photo > img {
  width: 150px;
  border-radius: 50%;
}
h1 {
  padding: 90px 0 10px 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4.3em;
  text-transform: uppercase;
}
#line {
  height: 2px;
  background-color: #b3aca7;
  width: 25%;
  margin: 0 auto;
}
h2 {
  padding: 20px 0 50px 0;
  font-size: 3em;
  text-transform: uppercase;
}
.presentation {
  height: 180px;
  margin-top: 20px;
}
.infos {
  padding: 15px 0;
  border: 2px solid #b3aca7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2rem;
}
header .button {
   margin: 0 auto;
}
header .button a {
  border: 2px solid black;
  background-color: grey;
  text-decoration: none;
  color: #ffffff;
  padding: 0.5em 1em;
  border-radius: 0.5rem;
}

header .button:hover a {
  background: #b3aca7;
  color: #283655;
  transition: all 0.6s ease-in-out;
  text-decoration: none;
}
/*--------------------Langages------------------------*/
#langages {
  padding: 60px 60px 120px 40px;
  margin: 4rem 0 2rem 6%;
  height: 700px;
  width: 80%;
  max-width: 800px;
  background: rgba(120,120,120,0.84);
  background: linear-gradient(88deg,rgba(120,120,120,0.84) 30%, rgba(212,211,211,0.46) 100%);
  background: -webkit-linear-gradient(88deg,rgba(120,120,120,0.84) 30%, rgba(212,211,211,0.46) 100%);
  background: -moz-linear-gradient(88deg,rgba(120,120,120,0.84) 30%, rgba(212,211,211,0.46) 100%);
  clip-path: polygon(0 4%, 100% 0, 94% 100%, 0 95%);
}
#langages .bar {
  padding: 4px 0 4px 0;
  letter-spacing: 0.1em;
}
.bar img {
  margin-top: -0.2em;
}

/*--------------------FORMATION------------------------*/
#formation {
  position: relative;
  float: right;
  margin-right: 4%;
  margin-bottom: 4rem;
  padding: 60px 0 60px 150px;
  width: 70%;
  max-width: 800px;
  background: #c4c4c4;
  background: linear-gradient(90deg,#c4c4c4 0%, rgba(148,122,122,0.51) 40%, #a19f9f 80%);
  background: -webkit-linear-gradient(90deg,#c4c4c4 0%, rgba(148,122,122,0.51) 40%, #a19f9f 80%);
  background: -moz-linear-gradient(90deg,#c4c4c4 0%, rgba(148,122,122,0.51) 40%, #a19f9f 80%);
  clip-path: polygon(0 0, 100% 4%, 100% 97%, 6% 100%);
}
#autodidacte {
  padding: 20px 0 0 10%;
}
#std {
  padding: 50px 0 0 25%;
}
#yt {
  padding: 50px 0 0 40%;
}
#formation h4 {
  font-weight: bold;
  letter-spacing: 0.08em;
  padding-bottom: 10px;
  color: #005978;
  text-shadow: -1px -1px 1px #3584D5;
}
.counter {
  display: flex;
  text-align: center;
}
.data {
  border: 1.5px solid #00599e;
  border-radius: 0.5rem;
  width: 120px;
  margin: 0 4%;
}
.counter-value {
  font-size: 2.5rem;
}
.data-span {
  font-size: 1.8em;
}

/*--------------Mobile screen------------------*/
@media screen and (max-width: 500px) {
  .header-content {
    padding: 1rem;
  }
  .row > .infos {
    width: 90%;
    margin-left: 5%;
  }
  .messsage-typed {
    padding-top: 2rem;
    height: 170px;
  }
  #formation {
    padding: 60px 0 0 20px;
    height: 700px;
  }
}